{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>فاکتور</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>
<body style="background: #fff;">

<div class="container-xl" style="margin-top: 100px;">
    <div class="row">
        <div class="col-3 text-center"></div>
        <div class="col-6 text-center"><h3 class="font-weight-bold">صورتحساب فروش کالا و خدمات</h3></div>
        <div class="col-3 text-right">
{#            <p>شماره سفارش: ۱۲۳۴۵۶۷</p>#}
{#            <p>تاریخ سفارش: ۱۳۴۰۴/۰۱/۲۳</p>#}
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" colspan="11">مشخصات فروشنده</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="11" class="text-right">
                    <div class="row">
                        <div class="col-4">
                            <p>نام شخص حقیق / حقوقی: ایران ژنراتور</p>
                            <p>آدرس کامل: لاله زار جنوبی کوچه علیپور</p>
                        </div>
                        <div class="col-4">
                            <p>شماره اقتصادی:</p>
                            <p>کد پستی:</p>
                        </div>
                        <div class="col-4">
                            <p>شماره ثبت / شناسه ملی:</p>
                            <p>تلفن / نمابر:_____</p>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th class="text-center" colspan="11">مشخصات خریدار</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="11" class="text-right">
                    <div class="row">
                        <div class="col-4">
                            <p>نام شخص حقیق / حقوقی: {{ order.customer.name }}</p>
                            <p>آدرس کامل:{{ order.customer.address }}</p>
                        </div>
                        <div class="col-4">
                            <p>شماره اقتصادی:</p>
                            <p>کد پستی:</p>
                        </div>
                        <div class="col-4">
                            <p>شماره ثبت / شناسه ملی:</p>
                            <p>تلفن / نمابر:{{ order.customer.phone }}</p>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th class="text-center" colspan="11">مشخصات کالا یا خدمات مورد معامله</th>
            </tr>
            </thead>
            <thead>
            <tr class="text-center">
                <th>ردیف</th>
                <th>کد کالا</th>
                <th>شرح کالا یا خدمات</th>
                <th>تعداد / مقدار</th>
{#                <th>واحد انداز گیری</th>#}
                <th>مبلغ واحد (ریال)</th>
                <th>مبلغ کل (ریال)</th>
{#                <th>مبلغ تخفیف (ریال)</th>#}
{#                <th>مبلغ کل پس از تخفیف (ریال)</th>#}
{#                <th>جمع مالیات و عوارض (ریال)</th>#}
                <th>جمع مبلغ کل به علاوه مالیات و عوارض (ریال)</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr class="text-center">
                <td>{{forloop.counter}}</td>
                <td>{{ item.product.id }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.qty }}</td>
{#                <td>عدد</td>#}
                <td>{{ item.product.price | intcomma:False }}</td>
                <td>{{ item.row_price | intcomma:False }}</td>
{#                <td>۱,۰۰۰</td>#}
{#                <td>۱۴,۰۰۰</td>#}
{#                <td>۵۰۰</td>#}
                <td>{{ item.row_price | intcomma:False }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="5" class="text-right">جمع کل</th>
{#                <th class="text-center">۱۵,۰۰۰</th>#}
{#                <th class="text-center">۱۵,۰۰۰</th>#}
{#                <th class="text-center">۱,۰۰۰</th>#}
{#                <th class="text-center">۱۴,۰۰۰</th>#}
{#                <th class="text-center">۵۰۰</th>#}
                <th class="text-center"></th>
                <th class="text-center">{{order.total | intcomma:False}}</th>
            </tr>
            <tr>
                <th colspan="5" class="text-right">شرایط و نحوه فروش: &nbsp&nbsp&nbsp&nbsp نقدی &nbsp&nbsp&nbsp&nbsp
                    غیرنقدی
                </th>
                <th colspan="6" class="text-right">توضیحات:</th>
            </tr>
            <tr style="padding: 60px 0;">
                <td colspan="5" class="text-right">مهر و امضا فروشنده علی اکبری: </td>
                <td colspan="6" class="text-right">مهر و امضا خریدار</td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="" class="btn btn-dark" id="printPageButton" onclick="printInvoice()">پرینت</a>

</div>


<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-app.js' %}"></script>

<script>
    function printInvoice() {
        window.print();
    }
</script>

<style>
    @media print {
        #printPageButton {
            display: none;
        }

        @page :first {
            margin: 0cm;
        }

        @page :left {
            margin: 2cm 1.5cm 2cm 2cm;
        }

        @page :right {
            margin: 2cm 2cm 2cm 1.5cm;
        }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #000 !important;
            border-bottom: 1px solid #000 !important;
        }

    }

    body{
        font-size: 12px;
    }
</style>

</body>
</html>