{% extends 'layout-ai.html' %}
{% load static %}
{% load humanize %}

{% block title %}Order Item List{% endblock %}
    {% block css %}{% endblock %}
{% block content %}

      <!-- Table -->
      <div class="bg-white shadow rounded-lg overflow-hidden">
        <table class="min-w-full text-sm text-center">
          <thead class="bg-blue-600 text-white">
            <tr>
              <th class="py-3 px-4">شماره</th>
              <th class="py-3 px-4">نام</th>
              <th class="py-3 px-4">تعداد</th>
              <th class="py-3 px-4">مبلغ کل (تومان)</th>
              <th class="py-3 px-4">حذف</th>

            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
          {% for item in items %}
            <tr class="hover:bg-gray-50">
              <td class="py-3 px-4">{{ item.id }}</td>
              <td class="py-3 px-4">{{ item.product }}</td>
              <td class="py-3 px-4">{{ item.qty }}</td>
              <td class="py-3 px-4">{{ item.row_price | intcomma:'Flase' }}</td>
              <td class="py-3 px-4"><a href="{% url 'order:delete_item_list' order_id item.id %}">Click</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock %}