{% extends 'layout-ai.html' %}
{% load static %}
{% load humanize %}

{% block title %}Home{% endblock %}
    {% block css %}{% endblock %}
{% block content %}

      <!-- Table -->
      <div class="bg-white shadow rounded-lg overflow-hidden">
        <table class="min-w-full text-sm text-center">
          <thead class="bg-blue-600 text-white">
            <tr>
              <th class="py-3 px-4">شماره</th>
              <th class="py-3 px-4">مشتری</th>
              <th class="py-3 px-4">تاریخ</th>
              <th class="py-3 px-4">مبلغ (تومان)</th>
              <th class="py-3 px-4">مشاهده فاکتور</th>

            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
          {% for order in all_orders %}
            <tr class="hover:bg-gray-50">
              <td class="py-3 px-4">{{ order.id }}</td>
              <td class="py-3 px-4">{{ order.customer }}</td>
              <td class="py-3 px-4">{{ order.date }}</td>
              <td class="py-3 px-4">{{ order.total | intcomma:'Flase' }}</td>
              <td class="py-3 px-4"><a href="{% url 'order:factor' order.id %}">Click</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock %}