{% extends 'layout-ai.html' %}
{% load static %}
{% load humanize %}

{% block title %}Home{% endblock %}
    {% block css %}{% endblock %}
{% block content %}
  <!-- Main content -->
  <div class="container">
    <h1>درخواست‌های فاکتور فروش</h1>
    <table>
      <thead>
        <tr>
          <th>شماره درخواست</th>
          <th>نام مشتری</th>
          <th>تاریخ</th>
          <th>وضعیت</th>
          <th>مبلغ (تومان)</th>
        </tr>
      </thead>
      <tbody>
      {% for order in all_orders %}
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.customer }}</td>
          <td>{{ order.date }}</td>
          <td class="status-cancelled">لغوشده</td>
          <td>{{ order.total | intcomma:'False'}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>



{% endblock %}